.container__menu-bar > ul {
  @media screen and (max-width: 700px) {
    gap: 5px;
  }
}

.container__menu-bar > ul > li{
  @media screen and (max-width: 700px) {
    list-style: none;
  }
}

.container__menu-bar > ul > li > a{
  @media screen and (max-width: 700px) {
    font-size: 14px;
    font-weight: 600;
  }
}

