<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/samirdourado/" target="_blank">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/samirdourado" target="_blank">Github</a></li>
    <li><span>•</span></li>
    <li><a href="https://samirdouradoportfolio-lemon.vercel.app/" target="_blank">Portfólio</a></li>
    <li><span>•</span></li>
    <li><a href="https://docs.google.com/document/d/1yV3sjDmXRtk77btFxoO6CJinEV2mVlSe7x_og5CqwZw/edit?usp=drive_link" target="_blank">Currículo</a></li>
  </ul>
</div>
